.Articles{
    margin-top: 12px;
    margin-left: 15%;
    margin-right: 15%;
    display: flex;
}
.Articles .Left{
    width: 60%;
}
.Articles .Right{
    width: 40%;
}

@media(max-width:1000px)
{
    .Articles
    {
        margin: 0%;
    }
    .Articles .Right
    {
        display: none;
    }
    .Articles .Left
    {
        width:100%;
    }
}