.Location{
    display: flex;
    justify-content: right;
}
.Location .InputArea{
    display: flex;
    border-bottom: 0.4px solid #B8B8B8;
    width: 88%;
    padding: 1%;
    margin-left: 9%;
    align-items: center;
}
.Location .InputArea FontAwesomeIcon{
    font-size: 14px;
    width: 10%;
    padding: 1%;
}
.Location .InputArea input{
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 14px;
    color: black;
    font-weight: 400;
    width: 100%;
    padding: 4%;
}
.Location .InputArea button{
    background-color: transparent;
    border: none;
    cursor: pointer;
}
#loc{
    font-size: 15px;
}