.Header {
    margin: 0%;
    padding: 0%;
}

.Header .Head {
    display: flex;
    justify-content: center;
    padding: 1%;
}

.Header .Logo {
    display: flex;
    justify-content: left;
    align-items: center;
    width: 30%;
}

.Header .Logo .Atg {
    color: #27A365;
    font-size: 21px;
}

.Header .Union {
    width: 23px;
    height: 24px;
}

.Header .Union img {
    width: 85%;
    height: 75%;
    margin-top: 4px;
}

.Header .Logo .World {
    color: #5C5D5D;
    font-size: 21px;
}


.Header .Searchbar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
}

.Header .Searchbar .container {
    display: flex;
    height: 30px;
    width: 360px;
}

.Header .Searchbar .container button {
    border: none;
    background-color: #F2F2F2;
    border-bottom-left-radius: 21px;
    border-top-left-radius: 21px;
}

.Header .Searchbar .container button .SearchIcon {
    color: #7A7A7A;
    font-size: 15px;
}

.Header .Searchbar .container input {
    background-color: #F2F2F2;
    color: #7A7A7A;
    outline: none;
    border: none;
    border-top-right-radius: 21px;
    border-bottom-right-radius: 21px;
    width: 100%;
}

.LoggedArea {
    display: flex;
    justify-content: right;
    align-items: center;
    width: 30%;
}

.LoggedArea .NotLoggedIn {
    display: flex;
}

.LoggedArea .NotLoggedIn .Black {
    color: #2E2E2E;
}

.LoggedArea .NotLoggedIn .Blue {
    color: #2F6CE5;
    font-weight: bold;
    margin-left: 2px;
    margin-right: 2px;
}

.LoggedArea button {
    background-color: transparent;
    border: none;
    margin-top: 5px;
    cursor: pointer;
}

.LoggedArea button .Triangle {
    width: 10px;
    height: 7px;
    clip-path: polygon(50% 70%, 0 0, 100% 0);
    background-color: #2E2E2E;
}

.LoggedArea .LoggedIn {
    display: flex;
}

.LoggedArea .LoggedIn .Image {
    width: 36px;
    height: 36px;
    border-radius: 100%;
    background-image: url("./joseph-gray.jpg");
    background-size: cover;
}

.LoggedArea .LoggedIn .Text {
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #2E2E2E;
    margin-left: 2px;
    margin-right: 2px;
}








.LoginAreaDesktop {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100vh;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
}

.LoginAreaDesktop .Form {
    width: 736px;
}

.LoginAreaDesktop .Form .Crossbutton {
    display: flex;
    justify-content: right;
    margin-bottom: 2%;
}

.LoginAreaDesktop .Form .Crossbutton button {
    border: none;
    background-color: white;
    border-radius: 100%;
    height: 23px;
    width: 23px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.LoginAreaDesktop .Form .Crossbutton button .cross {
    font-size: 21px;
}

.LoginAreaDesktop .Form .FormfieldArea{
    display: flex;
    justify-content: center;
}

.LoginAreaDesktop .Form .FormfieldArea .Formfield{
    width: 97%;
    background-color: white;
    border-radius: 21px;
}

.LoginAreaDesktop .Form .FormfieldArea .Formfield .Heading{
    text-align: center;
    color: #008A45;
    background-color: #EFFFF4;
    padding: 1%;
    border-top-right-radius: 21px;
    border-top-left-radius: 21px;
}

.LoginAreaDesktop .Form .FormfieldArea .Formfield .SecondLine{
    display: flex;
}
.LoginAreaDesktop .Form .FormfieldArea .Formfield .SecondLine .Left{
    font-size: 31px;
    width: 45%;
    padding-left: 5%;
    text-align: left;
    font-weight: bold;
}
.LoginAreaDesktop .Form .FormfieldArea .Formfield .SecondLine .Right{
    display: flex;
    width: 45%;
    padding-right: 5%;
    justify-content: right;
    align-items: center;
}
.LoginAreaDesktop .Form .FormfieldArea .Formfield .SecondLine .Right .Text{
    font-size: 13px;
    color:#3D3D3D;
}
.LoginAreaDesktop .Form .FormfieldArea .Formfield .SecondLine .Right .Text button{
    border: none;
    background-color: transparent;
    color: #2F6CE5;
    font-weight: bold;
    cursor: pointer;
}

.LoginAreaDesktop .Form .FormfieldArea .Formfield .MainForm{
    display: flex;
    padding-top: 2%;
}
.LoginAreaDesktop .Form .FormfieldArea .Formfield .MainForm .Left{
    width: 45%;
    margin-left: 5%;
}
.LoginAreaDesktop .Form .FormfieldArea .Formfield .MainForm .Left .InputArea
{
    width: 100%;
    display: flex;
}
.LoginAreaDesktop .Form .FormfieldArea .Formfield .MainForm .Left .InputArea input{
    width: 100%;
    border: 1px solid #D9D9DB;
    background-color: #F7F8FA;
    color: #8A8A8A;
    font-size: 16px;
    padding:2%;
    outline: none;
}
.LoginAreaDesktop .Form .FormfieldArea .Formfield .MainForm .Left .InputArea button{
    width: 10%;
    border: 1px solid #D9D9DB;
    background-color: #F7F8FA;
    border-left: none;  
}
.LoginAreaDesktop .Form .FormfieldArea .Formfield .MainForm .Left .InputArea button .password-icon{
    color: #8A8A8A;
    font-size: 16px;
}
#password{
    border-right: none;
}
.LoginAreaDesktop .Form .FormfieldArea .Formfield .MainForm .Left .ButtonArea{
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 4%;
    padding-bottom: 4%;
}
.LoginAreaDesktop .Form .FormfieldArea .Formfield .MainForm .Left .ButtonArea button{
    width: 100%;
    font-size: 16px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2F6CE5;
    border-radius: 20px;
    border: none;
    color: white;
}
.LoginAreaDesktop .Form .FormfieldArea .Formfield .MainForm .Left .ButtonArea a{
    text-decoration: none;
    color: black;
    margin-bottom: 10%;
}
.LoginAreaDesktop .Form .FormfieldArea .Formfield .MainForm .Left .ButtonAreaSSO button {
    width: 100%;
    border: 1px solid #D9D9DB;
    background-color: #F7F8FA;
    color: black;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2%;
    margin-bottom: 4%;
}
.LoginAreaDesktop .Form .FormfieldArea .Formfield .MainForm .Left .ButtonAreaSSO button .icons{
    width: 16px;
    height: 16px;
    color: #2F6CE5;
    margin-right: 1%;
}
.LoginAreaDesktop .Form .FormfieldArea .Formfield .MainForm .Right{
    width: 50%;
    height: 100%;
}
.LoginAreaDesktop .Form .FormfieldArea .Formfield .MainForm .Right .Image{
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.LoginAreaDesktop .Form .FormfieldArea .Formfield .MainForm .Right .Image img{
    width: 70%;
}
.Gap{
    font-size: 11px;
    padding: 5%;
    opacity: 60%;
}